.partitions__list {
    list-style: none;
    padding: 0 5px;    
}

.partition__container {
    cursor: pointer;
    background-color: white;
    width: 100px;
    height: auto;
    padding: 2px 10px;
    border-radius: 5%;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.radio__btn {
    border-radius: 50%;    
    height: 15px;
    width: 15px;
    border: none;
    background-color: #C5CBD3;
}

.radio__btn-active{
    border-radius: 50%;    
    height: 15px;
    width: 15px;
    border: none;
    background-color: #BAE8CF;
}